@font-face {
  font-family: 'AngryBirds';
  src: url('/assets/fonts/AngryBirds-Regular.eot');
  src: url('/assets/fonts/AngryBirds-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/AngryBirds-Regular.woff') format('woff'),
  url('/assets/fonts/AngryBirds-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  color: #ffffff;
  font-family: 'AngryBirds';
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

.container {
  background-color: #002037;
  width: 1200px;
  height: 600px;
  display: inline-block;
}

.text{
  margin: 200px;
  font-size: 30px;
  font-family: 'AngryBirds';
  text-align: justify;
}

.colored-text{
  color: #FF918B;
}

.highlight-text{
  font-size: 35px;
  color: #FF918B;
  bottom: 10px;
}

.button{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.start-button {
  background-image: url(/assets/sprites/Start_Button.png);
  display:inline-block;
  cursor:pointer;
  width: 126px;
  height: 61px;
  text-decoration:none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  vertical-align: middle;
}
.start-button:hover {
  background-color: transparent;
}
.start-button:active {
  position:relative;
  top:1px;
  background-image: url(/assets/sprites/Start_Button_hover.png);
  outline:0;
}

.start-button:focus{
  outline:0;
}
